html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  margin: 0;
  padding: 0;
}

body {
  font-family: Montserrat, sans-serif;
  color: #000000;
  margin: 0;
}

.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid red;
}

/* Button ------------------------------- */
.button {
  display: inline-block;
  min-width: 130px;
  padding: 11px 34px;
  border: 2px solid;
  border-radius: 6px;
}

/* Header ------------------------------- */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
}

.logo-menu {
  display: flex;
  align-items: center;
  margin: 0;
}

.logo {
  display: block;
  margin-right: 70px;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.menu-item {
  display: block;
  height: 60px;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.menu-item-link {
  display: block;
  padding-top: 21px;
  padding-bottom: 21px;
  height: 60px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 18.29px;
  text-align: center;
  color: #18A0FB;
}

.enter {
  display: flex;
}

.enter-item:not(:last-child) {
  margin-right: 12px;
}

.enter-login-button {
  min-width: 130px;
}

.enter-login-link {
  text-align: center;
  display: inline-block;
  min-width: 130px;
  padding: 11px 34px;
  border: 2px solid;
  border-radius: 6px;
  color: #ffffff;
  background-color: #18A0FB;
  border: 2px solid #18A0FB;
  border-radius: 8px;
  color: #18A0FB;
  background-color: #ffffff;
  border-color: #18A0FB;
}

.enter-register-button {
  min-width: 130px;
}

.enter-register-link {
  text-align: center;
  display: inline-block;
  padding: 11px 34px;
  border: 2px solid;
  border-radius: 6px;
  color: #ffffff;
  background-color: #18A0FB;
  border: 2px solid #18A0FB;
  border-radius: 8px;
  color: #ffffff;
  background-color: #18A0FB;
  border-color: #18A0FB;
}

/* Hero --------------------------------- */
.hero {
  height: 680px;
  padding-top: 350px;
  text-align: center;
  background-image: url(../img/hero/hero-img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffff7f;
}

.hero-title {
  font-weight: 400;
  font-size: 48px;
  margin-bottom: 96px;
}

.hero-button {
  padding: 16px 52px;
  font-size: 20px;
  color: #ffffff;
  background-color: #18A0FB;
  border: 2px solid #18A0FB;
  border-radius: 8px;
}

/* Section Advantages ---------------------- */
.advantages {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #e5ffe5;
}

.advantages-title {
  margin-bottom: 24px;
  text-align: start;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages-item {
  width: calc((100% - 40px) / 2);
  outline: 1px solid green;
}

.advantages-item:not(:nth-last-child(-n+2)) {
  margin-bottom: 24px;
}

.advantages-item-title {
  margin-bottom: 12px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.advantages-item-text {
  margin-bottom: 12px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
}

.advantages-item-button {
  display: inline-block;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 18.29px;
  text-align: center;
  color: #18A0FB;
  background-color: #ffffff;
}

/* Examples --------------------------------- */
.examples {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #ffff7f;
}

.examples-list-item {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.examples-list-item:not(:last-child) {
  margin-bottom: 24px;
}

.examples-list-item:nth-child(even) {
  flex-direction: row-reverse;
}

.examples-list-item-text-box {
  margin: 0;
  width: calc((100% - 40px) / 2);
  outline: 1px solid green;
}

.examples-list-item:nth-child(2n+1) > .examples-list-item-box {
  margin-left: 40px;
}

.examples-list-item:nth-child(2n) > .examples-list-item-box {
  margin-right: 40px;
}

.examples-list-item-title {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.examples-list-item-text {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

/* Clients */
.clients {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #e5ffe5;
}

.clients-title {
  margin-bottom: 24px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  text-align: center;
}

.clients-description {
  margin-bottom: 24px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
  text-align: center;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  width: 880px;
  margin: 0 auto;
  outline: 1px solid green;
}

.clients-list-item {
  margin-right: 64px;
}

.clients-list-item:nth-child(4n) {
  margin-right: 0;
}

.clients-list-item:not(:nth-last-child(-n+4)) {
  margin-bottom: 48px;
}

/* Registration -------------------------------- */
.registration {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #ffff7f;
}

.registration-box {
  display: flex;
  align-items: center;
}

.registration-description {
  margin-right: 84px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 50px;
}

.registration-list {
  display: flex;
}

.registration-list-item-link-join {
  padding: 16px 52px;
  border: 1px solid #18A0FB;
  border-radius: 6px;
  background-color: #18A0FB;
  white-space: nowrap;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  text-align: center;
  color: #ffffff;
}

.registration-list-item-link-contact {
  padding: 16px 52px;
  border: 1px solid #18A0FB;
  border-radius: 6px;
  background-color: #ffffff;
  white-space: nowrap;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  text-align: center;
  color: #18A0FB;
}

.registration-list-item:not(:last-child) {
  margin-right: 44px;
}

/* Footer -------------------------------- */
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #e5ffe5;
}

.footer-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.footer-menu-left {
  display: flex;
  flex-direction: row;
}

.footer-menu-left-item:not(:last-child) {
  margin-right: 52px;
}

.footer-menu-left-item-link {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: inherit;
}

.footer-logo {
  margin: 0;
}

.footer-menu-right {
  display: flex;
  flex-direction: row;
}

.footer-menu-right-item:not(:first-child) {
  margin-left: 72px;
}

.footer-menu-right-item-link {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: inherit;
}

.footer-social-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.footer-social-list-item:not(:last-child) {
  margin-right: 21px;
}

.footer-copy {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}/*# sourceMappingURL=main.css.map */